.container {
  border-color: white;
  border-style: solid;
  height: 400px;
  width: 300px;
  margin: 50px;
}

.container:hover {
  background-color: #88A0A8;
  transition: background-color 0.5s, height 0.5s, width 0.5s;
  width: 290px;
  height: 390px;
}

img {
  max-width: 200px;
  max-height: 300px;
  margin-left: 100px;
  margin-top: 10px;
}

p {
  text-align: center;
}

.card-1 {
  order: 1;
}
